projects/treebank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified"> 
    
    <xs:element name="note" type="containertype"/>
        
    <xs:complexType name="containertype">
        <xs:annotation>
            <xs:documentation>sentence-unit container for individual sentence tree structures</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ROOT" type="roottype"/>   
        </xs:choice>
        <xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional" form="qualified"/>
    </xs:complexType>
    
    <xs:complexType name="roottype">
        <xs:annotation>
            <xs:documentation>syntactic tags for phrases and verb compounds</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="DVP" type="DVPtype"/>
            <xs:element name="FLR" type="FLRtype"/>
            <xs:element name="FRAG" type="FRAGtype"/>
            <xs:element name="INTJ" type="INTJtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="LST" type="LSTtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="S" type="Stype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="VCD" type="VCDtype"/>
            <xs:element name="VCP" type="VCPtype"/>
            <xs:element name="VNV" type="VNVtype"/>
            <xs:element name="VPT" type="VPTtype"/>
            <xs:element name="VRD" type="VRDtype"/>
            <xs:element name="VSB" type="VSBtype"/>
            <xs:element name="WHNP" type="WHNPtype"/>
            <xs:element name="WHPP" type="WHPPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ADJPtype">
        <xs:annotation>
            <xs:documentation>adjective phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="JJ" type="stringtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="AD" type="stringtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="CC" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    <xs:annotation>
        <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:complexType name="ADVPtype">
        <xs:annotation>
            <xs:documentation>adverbial phrase headed by AD (adverb)</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="CS" type="stringtype"/>
            <xs:element name="NN" type="stringtype"/>
            <xs:element name="AD" type="stringtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="CLPtype">
        <xs:annotation>
            <xs:documentation>classifier phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="LC" type="stringtype"/>
            <xs:element name="JJ" type="stringtype"/>
            <xs:element name="M" type="stringtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="NONE" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="CPtype">
        <xs:annotation>
            <xs:documentation>clause headed by C (complementizer)</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="WHPP" type="WHPPtype"/>
            <xs:element name="DEC" type="stringtype"/>
            <xs:element name="WHNP" type="WHNPtype"/>
            <xs:element name="CS" type="stringtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="SP" type="stringtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
        </xs:choice>
    </xs:complexType>
   
    <xs:complexType name="DNPtype">
        <xs:annotation>
            <xs:documentation>phrase formed by "XP + DEG"</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="P" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="DEC" type="stringtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="PN" type="stringtype"/>
            <xs:element name="DEG" type="stringtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DPtype">
        <xs:annotation>
            <xs:documentation>determiner phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="PN" type="stringtype"/>
            <xs:element name="DT" type="stringtype"/>
            <xs:element name="DEG" type="stringtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DVPtype">
        <xs:annotation>
            <xs:documentation>phrase formed by "XP + DEV"</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="DEC" type="stringtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="AD" type="stringtype"/>
            <xs:element name="DEV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="FLRtype">
        <xs:annotation>
            <xs:documentation>filler</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="DP" type="DPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="FRAGtype">
        <xs:annotation>
            <xs:documentation>fragment</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NR" type="stringtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="ETC" type="stringtype"/>
            <xs:element name="P" type="stringtype"/>
            <xs:element name="M" type="stringtype"/>
            <xs:element name="OD" type="stringtype"/>
            <xs:element name="NN" type="stringtype"/>
            <xs:element name="DT" type="stringtype"/>
            <xs:element name="CD" type="stringtype"/>
            <xs:element name="NT" type="stringtype"/>
            <xs:element name="JJ" type="stringtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="INTJtype">
        <xs:annotation>
            <xs:documentation>interjection</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="IJ" type="stringtype"/>
            <xs:element name="SP" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="IPtype">
        <xs:annotation>
            <xs:documentation>simple clause headed by I (INFL)</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="AS" type="stringtype"/>
            <xs:element name="LST" type="LSTtype"/>
            <xs:element name="WHNP" type="WHNPtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="SP" type="stringtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="NONE" type="stringtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="ETC" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="DEC" type="stringtype"/>
            <xs:element name="DVP" type="DVPtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="INTJ" type="INTJtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="LCPtype">
        <xs:annotation>
            <xs:documentation>phrase formed by "XP + LC"</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="LC" type="stringtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="NT" type="stringtype"/>
            <xs:element name="NONE" type="stringtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="IP" type="IPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="LSTtype">
        <xs:annotation>
            <xs:documentation>list marker</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="CD" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="NPtype">
        <xs:annotation>
            <xs:documentation>noun phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="JJ" type="stringtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="WHNP" type="WHNPtype"/>
            <xs:element name="MSP" type="stringtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="DEG" type="stringtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="NONE" type="stringtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="NR" type="stringtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="ETC" type="stringtype"/>
            <xs:element name="P" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="INTJ" type="INTJtype"/>
            <xs:element name="VC" type="stringtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="NT" type="stringtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="DT" type="stringtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="PN" type="stringtype"/>
            <xs:element name="NN" type="stringtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="FW" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="PPtype">
        <xs:annotation>
            <xs:documentation>preposition phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="NONE" type="stringtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="NT" type="stringtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="P" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="PP" type="PPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="PRNtype">
        <xs:annotation>
            <xs:documentation>parenthetical</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="QPtype">
        <xs:annotation>
            <xs:documentation>quantifier phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="NT" type="stringtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="NR" type="stringtype"/>
            <xs:element name="OD" type="stringtype"/>
            <xs:element name="M" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="NN" type="stringtype"/>
            <xs:element name="CD" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="Stype">
        <xs:annotation>
            <xs:documentation>sentence</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="FRAG" type="FRAGtype"/>
            <xs:element name="IP" type="IPtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="UCPtype">
        <xs:annotation>
            <xs:documentation>unidentical coordination phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="ETC" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="CC" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VCDtype">
        <xs:annotation>
            <xs:documentation>coordinated verb compound</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="VA" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VCPtype">
        <xs:annotation>
            <xs:documentation>verb compounds formed by VV + VC</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="VC" type="stringtype"/>
            <xs:element name="VA" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VNVtype">
        <xs:annotation>
            <xs:documentation>verb compounds formed by A-not-A or A-one-A</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="VC" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
            <xs:element name="AD" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VPtype">
        <xs:annotation>
            <xs:documentation>verb phrase</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="SB" type="stringtype"/>
            <xs:element name="AS" type="stringtype"/>
            <xs:element name="VSB" type="VSBtype"/>
            <xs:element name="MSP" type="stringtype"/>
            <xs:element name="CP" type="CPtype"/>
            <xs:element name="VCD" type="VCDtype"/>
            <xs:element name="LCP" type="LCPtype"/>
            <xs:element name="ADJP" type="ADJPtype"/>
            <xs:element name="NONE" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="VCP" type="VCPtype"/>
            <xs:element name="ETC" type="stringtype"/>
            <xs:element name="P" type="stringtype"/>
            <xs:element name="QP" type="QPtype"/>
            <xs:element name="CLP" type="CLPtype"/>
            <xs:element name="DER" type="stringtype"/>
            <xs:element name="LB" type="stringtype"/>
            <xs:element name="DNP" type="DNPtype"/>
            <xs:element name="VRD" type="VRDtype"/>
            <xs:element name="PP" type="PPtype"/>
            <xs:element name="VC" type="stringtype"/>
            <xs:element name="BA" type="stringtype"/>
            <xs:element name="VPT" type="VPTtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="DVP" type="DVPtype"/>
            <xs:element name="PRN" type="PRNtype"/>
            <xs:element name="DP" type="DPtype"/>
            <xs:element name="ADVP" type="ADVPtype"/>
            <xs:element name="CC" type="stringtype"/>
            <xs:element name="VA" type="stringtype"/>
            <xs:element name="VE" type="stringtype"/>
            <xs:element name="IP" type="IPtype"/>
            <xs:element name="UCP" type="UCPtype"/>
            <xs:element name="VP" type="VPtype"/>
            <xs:element name="VNV" type="VNVtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VPTtype">
        <xs:annotation>
            <xs:documentation>potential form V-de-R or V-by-R</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="AD" type="stringtype"/>
            <xs:element name="DER" type="stringtype"/>
            <xs:element name="VA" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VRDtype">
        <xs:annotation>
            <xs:documentation>verb resultative compound</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NP" type="NPtype"/>
            <xs:element name="VCD" type="VCDtype"/>
            <xs:element name="PU" type="stringtype"/>
            <xs:element name="VA" type="stringtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="VSBtype">
        <xs:annotation>
            <xs:documentation>verb compounds formed by a modifier + head</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="VCD" type="VCDtype"/>
            <xs:element name="VV" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="WHNPtype">
        <xs:annotation>
            <xs:documentation>undefined</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NONE" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="WHPPtype">
        <xs:annotation>
            <xs:documentation>undefined</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="NONE" type="stringtype"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:simpleType name="stringtype">
        <xs:annotation>
            <xs:documentation>Strings in this schema are part-of-speech tags.
            AD: adverbs
            AS: aspect marker
            BA: 把 in ba-const
            CC: coordinating conj
            CD: cardinal numbers
            CS: subordinating conj
            DEC: 的 for relative-clause etc.
            DEG: associative 的
            DER: 得 in V-de const. and V-de-R
            DEV: 地 as the head of DVP
            DT: determiner
            ETC: tags for 等 and 等等 in coordination phrases
            FW: foreign words
            IJ: interjection
            JJ: noun-modifier other than nouns
            LB: 被 in long bei-construction
            LC: localizer
            M: measure word (including classifiers)
            MSP: some particles
            NN: common nouns
            NONE: none
            NR: proper nouns
            NT: temporal nouns
            OD: ordinal numbers
            ON: onomatopoeia
            P: prepositions (excluding 把 and 被)
            PN: pronouns
            PU: punctuation
            SB: 被 in short bei-construction
            SP: sentence-final particle
            VA: predicative adjective
            VC: copula 是
            VE: 有 as the main verb
            VV: other verbs</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
</xs:schema>
